.container {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(204, 200, 200);
}

.clock{
  height:300px;
  width: 300px;
  border-radius: 50%;
  position: relative;
}
.clock::before{
  content: '';
  height:300px;
  width: 300px;
  position: absolute;
  left: -16px;
  top:-16px;
  border-radius: 50%;
  border: 1.3px solid rgba(255, 255, 255, 0.397);
  z-index: 5;
}

.numbers{
  list-style: none;
  display: block;
  position: absolute;
  height: 90%;
  width: 90%;
  text-align: center;
}

.numbers span{
  display: block;
}

.numbers:nth-child(1){
  transform: rotate(30deg);
}

.numbers:nth-child(1) span{
  transform: rotate(-30deg);
}

.numbers:nth-child(2){
  transform: rotate(60deg);
}

.numbers:nth-child(2) span{
  transform: rotate(-60deg);
}

.numbers:nth-child(3){
  transform: rotate(90deg);
}

.numbers:nth-child(3) span{
  transform: rotate(-90deg);
}

.numbers:nth-child(4){
  transform: rotate(120deg);
}

.numbers:nth-child(4) span{
  transform: rotate(-120deg);
}

.numbers:nth-child(5){
  transform: rotate(150deg);
}

.numbers:nth-child(5) span{
  transform: rotate(-150deg);
}

.numbers:nth-child(6){
  transform: rotate(180deg);
}

.numbers:nth-child(6) span{
  transform: rotate(-180deg);
}

.numbers:nth-child(7){
  transform: rotate(210deg);
}

.numbers:nth-child(7) span{
  transform: rotate(-210deg);
}

.numbers:nth-child(8){
  transform: rotate(240deg);
}

.numbers:nth-child(8) span{
  transform: rotate(-240deg);
}

.numbers:nth-child(9){
  transform: rotate(270deg);
}

.numbers:nth-child(9) span{
  transform: rotate(-270deg);
}

.numbers:nth-child(10){
  transform: rotate(300deg);
}

.numbers:nth-child(10) span{
  transform: rotate(-300deg);
}

.numbers:nth-child(11){
  transform: rotate(330deg);
}

.numbers:nth-child(11) span{
  transform: rotate(-330deg);
}
